
#container {
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

a {
  font-size: 50px;
  text-underline: none;

  margin: 20px auto 20px 10px;
}

a:link, a:visited, a:active {
  color: black;
}

a:hover {
  color: #bbbbbb;
}

table {
  border-collapse: collapse;
  width: 45%;
  table-layout: fixed;
  text-align: center;
}

thead tr {
  height: 50px;
  background-color: #3f3f3f;
  color: white;
  border-right: solid 1px #3f3f3f;
}

tbody {
  border-left: solid 1px #3f3f3f;
}

tbody tr {
  height: 40px;
  border-bottom: solid 1px #3f3f3f;
}

tbody tr td {
  border-right: solid 1px #3f3f3f;
}